.footer {
  background-color: #0b1d3a;
  color: #f4e2c6;
  text-align: center;
  padding: 2rem 1rem;
  font-family: 'Playfair Display', serif;
  font-size: 0.95rem;
  border-top: 1px solid rgba(255, 215, 0, 0.2);
  margin-top: 4rem;
}

.quote {
  font-style: italic;
  font-size: 16px;
  margin-top: 0.5rem;
  color: rgb(255, 214, 8);
}
