.area {
  height: 325px;
  width: 85vw;
}

img {
  display: block;
  margin: 0.5rem auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(255, 215, 0, 0.2);
}

.box {
  width: 50px;
  height: 50px;
  font-size: 24px;
}

.upload {
  color: var(secondary-color);
}

.file {
  font-size: 24px;
  color: var(--primary-color);
}

.share {
  display: none;
}

@media screen and (min-width: 400px) and (max-width: 600px) {
  .area {
    font-size: 18px;
  }

  .box {
    width: 50px;
    height: 40px;
  }

  .enjoy {
    width: 75px;
    height: 30px;
    font-size: 18px;
  }

  .comp {
    width: 30px;
    height: 30px;
  }
}

@media screen and (min-width: 600px) and (max-width: 1200px) {
  .area {
    font-size: 24px;
  }

  .box {
    width: 50px;
    height: 40px;
  }

  .enjoy {
    width: 95px;
    height: 40px;
    font-size: 24px;
  }

  .comp {
    width: 40px;
    height: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .area {
    font-size: 32px;
  }

  .box {
    width: 50px;
    height: 40px;
  }

  .enjoy {
    width: 95px;
    height: 40px;
    font-size: 24px;
  }

  .comp {
    width: 40px;
    height: 40px;
  }
}
